@import '../styles.scss';

.conatiner {
    padding: $pm-20px;
    @media screen and (min-width: $screen-md) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: $pm-20px;
    }
}