// Colours

$blue: #3B5999;
$white: #FFFFFF;
$conatiner-bg:#E6E6E6;
$people-bg: #BCC0C3;


// Font Size

$font-xs: 1.1rem;
$font-sm: 1.3rem;
$font-md: 1.6rem;
$font-lg: 1.8rem;
$font-xl: 2rem;
$font-xxl: 2.4rem;


// Font weight

$font-weight-200: 200;
$font-weight-400: 400;
$font-weight-600: 600;


// Marging and padding
$pm-5px: 0.5rem;
$pm-10px: 1rem;
$pm-15px: 1.5rem;
$pm-18px: 1.8rem;
$pm-20px: 2rem;
$pm-25px: 2.5rem;
$pm-30px: 3rem;
$pm-60px: 6rem;
$square-cont: 5rem; 

// Media breakpoints 
$screen-xs: 480px;
$screen-xs-max: 767px;

// Small screen / tablet
$screen-sm:768px;
$screen-sm-min:$screen-sm;

// Medium screen / desktop
$screen-md: 1024px;
$screen-md-min: $screen-md;

$screen-lg: 1264px;
$screen-lg-min:$screen-lg;

$screen-xl:1440px;
$screen-xl-min:$screen-xl;

$screen-xxl:1800px;
$screen-xxl-min:$screen-xxl;

// So media queries don't overlap when required, provide a maximum

$screen-xs-min:    			 ($screen-xs - 1);
$screen-xs-max:              ($screen-sm-min - 1);
$screen-sm-max:              ($screen-md-min - 1);
$screen-md-max:              ($screen-lg-min - 1);
$screen-lg-max: 			 ($screen-xl-min - 1);
$screen-xl-max: 			 ($screen-xxl-min - 1);
